.zerogrid{
    width: 1400px;
    height: 870px;
    background-image: linear-gradient(#bfa,rgb(255, 190, 168));
    position: relative;
}
.wrap-header{
    width: 1200px;
    margin-top: 60px;
    margin-left: 100px;
    height: 750px;
    position: absolute;
}
.wrap-sc {
    width: 1200px;
    height: 200px;
    background-color: #fff;
    /* margin-top: 10px; */
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 20px;
    color: black;
}
.icon img{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 30px;
}
.fb img{
    margin-left: 1040px;
}
.tt img{
    margin-left: 1090px;
}
.yt img{
    margin-left: 1140px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wbb{
    width: 1400px;
    height: auto;
    background-color: blanchedalmond;
    color: black;
    font-size: 25px;
    padding-top: 40px;
}
footer{
    margin-top: 1px;
    width: 1400px;
    height: auto;
    clear: both;
    margin-bottom: 0px;
    background-color: rgba(84, 132, 161, 0.8);
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.foot p{
    line-height: 15px;
    color: rgb(28, 43, 43);
    font-size: 15px;
    padding-left: 100px;
    padding-right: 100px;
}
.foot img{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 40px;
}