.zerogrid {
    background-image: linear-gradient(rgb(170, 227, 255), rgb(247, 190, 171));
}
.wrap-header {
    background-color: rgb(241, 173, 152);
}
.blog {
    position:relative;
    color: black;
    font-size: 18px;
    padding-top: 280px;
    line-height: 35px;
    margin-right: 60px;
}
.blog2 {
    margin-right: 150px;
}
.body1{
    width: 1400px;
    padding: 40px;
    height: 600px;
    background-image: linear-gradient(rgb(234, 194, 108),rgb(242, 209, 198));
    display: flex;
    justify-content: space-evenly;
}
.box1, .box2,.box3{
    width: 300px;
    height: 380px;
    color: black;
    text-align: center;
}
.box1 img, .box2 img,.box3 img{
    /* width: 370px; */
    margin-bottom: 27px;
    height: 300px;
    width: 100%;
    opacity: .95;
}
.box1 h1, .box2 h1,.box3 h1{
    font-size: 30px;
}
.box1 p, .box2 p,.box3 p{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
