.zerogrid{
    background-image: linear-gradient(#bfa,rgb(255, 190, 168));
}
.wrap-header{
    background-color: rgb(226,219,76);
}
.nav li:hover{
    background-color: rgb(217,228,138);
} 
.atupian{
    width: 800px;
    /* background-color: #F4BBBB; */
    height: 620px;
}
.atupian img{
    width: 1200px;
    height: 520px;
}
.wb{
    width: 1400px;
    height: 620px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}
.wba{
    width: 1400px;
    height: 620px;
    background-image: linear-gradient(rgb(205, 245, 195),blanchedalmond);
    position: relative;
    color: black;
    font-size: 25px;
    text-align: center;
    padding-top: 60px;
    line-height: 55px;
}
